<ion-menu [content]="content" id="userSemLogin">
    <ion-header>
      <ion-toolbar color="tema">
        <ion-title style="font-family: 'Poppins', sans-serif;">Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="bg-image">
      <ion-list>
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/imgs/logo.png">
          </ion-avatar>
          <h2 (click)="abrirLogin()" (click)="carregarlogin()" style="font-family: 'Poppins', sans-serif;">Faça Login</h2>
          <p (click)="abrirCadastro()" (click)="carregarlogin()">Ou cadastre-se</p>
        </ion-item>
        <button menuClose ion-item *ngFor="let p of pages1" (click)="openPage(p)" (click)="carregar()">
          {{p.title}}
        </button>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-menu [content]="content" id="userComLogin">
    <ion-header>
      <ion-toolbar color="tema">
        <ion-title style="font-family: 'Poppins', sans-serif;">Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="bg-image">
      <ion-list>
        <ion-item>
          <ion-avatar item-start (click)="abrirLogin()" (click)="carregarlogin()">
            <img src="assets/imgs/logo.png" (click)="abrirLogin()" (click)="carregarlogin()">
          </ion-avatar>
          <h2 (click)=" perfilUserPage()" (click)="carregarlogin()" style="font-family: 'Poppins', sans-serif;">Meu Perfil</h2>
          <p menuClose (click)="sair()" (click)="carregarloginflash()">Sair</p>
        </ion-item>
        <button menuClose ion-item *ngFor="let p of pages2" (click)="openPage(p)"  (click)="carregar()">
          {{p.title}}
        </button>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-nav id="nav" #content [root]="rootPage"></ion-nav>