page-comochegar {
    ion-content {
        background: #f4f4f4 !important; font-family: 'Poppins', sans-serif;
    }
      #map {
        height: 100%;
      }

      #trajeto-texto{
        height: 100%;
      }

}
